*{
    margin: 0;
    padding: 0;
}
.header-container{
    background-image: url('../images/banner/banner1.png');
    background-repeat: no-repeat;
    text-align: right;

}
.headline{
    
    padding: 216px 230px 24px 845px;
    font-weight: 700;
    font-size: 65px;
    line-height: 76px;
    width: 30%;
    
}
.description{
 
    padding: 0 230px 32px 845px;
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    width: 30%;
    
}
.header-btn{
    margin-right: 165px;
    margin-bottom: 166px;
    padding: 15px 18px;
    font-weight: 600;
    background-color: #F15B22;
    border-radius: 5px;
    color: white;
    border: none;
}
.about-me{
    display: flex;
}
.about-me img{
    margin: 130px 87px 130px 206px;
    height: 650px;
}
.details{
    margin: 370px 300px 200px 0;
}
.details h3{
    font-weight: 700;
    line-height: 25px;
    width: 140px;
    padding-bottom: 24px;

}
.details p{
    font-weight: 400;
    padding-bottom: 16px;
}
.details ul{
    list-style: none;
}
.details li{
    line-height: 25px;
    width: 400px;
}
.details li::before{
    content: '✓';
    color: lightgreen;
    padding-right: 5px;
}
.plans-container h3{
    text-align: center;
    margin-top: -80px; 
    padding-bottom: 20px;
}
.plans{
    display: flex;
    margin-left: 27%;
    /* align-items:center; */
}
.plans div{
    padding: 20px 30px;
    text-align: center;
}
.plans div img{
    width: 50%;
}
.plans div h4{
    padding: 10px 0;
}
.gradient-part{
    margin: 20px;
    background-image: url('../images/gradient1.png'), url('../images/watch.png');
    background-repeat: no-repeat;
    background-position: center;
    
    
    
}
.gradient-part h3{
   padding: 50px 0 20px 200px;

}
.call-btn{
    margin-left: 200px;
    margin-bottom: 30px;
}